body {
    z-index: 10000;
    opacity: 5.9;
    background: url('/images/bgcoverNew1.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}
body .container-fluid {
    padding-right: 6px;
    padding-left: 6px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 100px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay_text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.hcntContainer {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 100%;
    justify-content: space-evenly;
    border: 5px solid;
    background-color: #FEE870;
    position: absolute;
}
.hcntContainer ul {
    margin-top: 10px !important;
}
.hcntContainer .himgContainer {
    flex: 1 auto;
    min-width: 22%;
    height: 59px;
    flex-wrap: wrap;
    padding-right: 8px;
}
.hcntContainer .himgContainer3 {
    flex: 1 auto;
    min-width: 22%;
    height: 59px;
    flex-wrap: wrap;
    padding-right: 8px;
    padding-right: 24px !important;

}
.hcntContainer .himgContainer4 {
    flex: 1 auto;
    min-width: 22%;
    height: 59px;
    flex-wrap: wrap;
    padding-right: 8px;
    padding-right: 24px !important;
    padding-left: 0px;
    margin-left: -14px;
}
.headImg {
    width: 100%;
    height: 100%;
}
.bodyContainer {
    z-index: -4;
    display: flex;
    flex-direction: row;

}
.bodyContainer .l_picContainer {
    /* width: calc(100%); */
    /* height: calc(100% + 182px); */
    /* min-width: 32%; */
    /* max-width: 15%; */
    z-index: 1000;
    position: initial;
}
.l_picContainer .l_pic {
    width: 130%;
    height: 89%;
    position: relative;
    top: -17px;
    left: -11px;
}
.bodyContainer .toprightMini {

    width: 100%;
    /* right: 34px; */
    height: 100px;
}
.toprightMini .rightMini {
        width: 100%;
        height: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.bodyContainer .titleName{
    width: 104%;
}
.titleName .title_pic {
        width: 100%;
        height: 100%;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: flex-start;
    align-content: center;
    /* margin-top: -50px; */
    max-width: 94%;
    max-height: 41%;
    flex-wrap: nowrap;
    /* background-color: red; */
}
.boxes .addBoxLeft {
    /* flex: 1 auto; */
    /* flex: 1 auto; */
    /* min-width: 40%; */
    margin: 0px 10px 0px 10px;
    min-width: 27%;
    min-height: 95px;
    background: url(/images/lefftboxNew2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.boxes .addBoxRight {
    /* flex: 1 auto; */
    /* flex: 1 auto; */
    /* min-width: 40%; */
    margin: 0px 10px 0px 10px;
    min-width: 27%;
    min-height: 95px;
    background: url(/images/rightboxNew2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
.addBoxLeft .leftBoxInput {
    width: 100px;

}
.addBoxLeft .leftboxpic {
    width: 101%;
    height: 16%;
    top: 51px;
    position: absolute;
    left: 0;
    background-color: transparent;
    font-size: 12px;
    padding: 0px 3px 0px 3px;
    border: .1px solid greenyellow;
    color: black;
    text-align: center;
}
.addBoxRight .rightboxpic {
    width: 101%;
    height: 16%;
    top: 53px;
    position: absolute;
    left: 0;
    background-color: transparent;
    font-size: 12px;
    padding: 0px 3px 0px 3px;
    border: .1px solid greenyellow;
    text-align: center;
    color: black;
}
.boxes .addGrpBox {
    min-width: 54px;
    min-height: 46px;
    background: url(/images/groupselfi.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.addGrpBox .grouppic {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 22px;
    left: 0;
}


.messageContainer {
    width: 153%;
    height: 101px;
    padding-bottom: 10px;
    position: relative;
    background: url(/images/megContainer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.messageContainer .msgpic {
    width: 100%;
    height: 75%;
    position: absolute;
    background: url(/images/msgBox.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    left: 0px;
    top: 35px;
    line-height: 10px !important;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

.speakContainer {
    width: 18%;
    height: 53px;
    margin-top: 10px;
    position: relative;
    background: url(/images/voice.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    top: -18px;
}
.speakContainer .speakpic {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.submitContainer {
    width: 144px;
    height: 47px;
    flex: 1 auto;
    margin-top: 10px;
    background: url(/images/submit1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    position: relative;
    top: -12px;
    left: -2px;
}
.submitContainer input {
    width: 100%;
    height: 100%;
    opacity: 0;
}
@media screen and (max-width  :768px){
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        position: relative;
        left: -8px;
    }
    .bodyContainer .titleName {
        width: 90%;
        position: relative;
        top: -10px;
    }
    .boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        align-items: flex-start;
        align-content: center;
        /* margin-top: -50px; */
        min-width: 45%;
        max-height: 33%;
        flex-wrap: nowrap;
        /* background-color: red; */
        position: relative;
        top: -12px;
        left: -41px;
        max-width: 79%;
    }
    .boxes .addBoxLeft {
        min-width: 39%;
        min-height: 133px;
        background: url(/images/lefftboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .boxes .addBoxRight {
        min-width: 39%;
        min-height: 133px;
        background: url(/images/rightboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .addBoxLeft .leftBoxInput {
        width: 47px;
        height: 39px;
        position: relative;
        left: 8px;
        opacity: 0;
        top: 18px;
    }
    .addBoxLeft .leftboxpic {
        width: 101%;
        height: 17%;
        top: 75px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 14px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
        color: black;
    }
    .addBoxRight .rightboxpic {
        width: 101%;
        height: 17%;
        top: 75px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 14px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
        color: black;
    }
    .addBoxRight .righttBoxInput {
        width: 47px;
        height: 39px;
        position: relative;
        left: 8px;
        opacity: 0;
        top: 18px;
    }
    .bodyContainer .l_picContainer {
        /* width: calc(100%); */
        /* height: calc(100% + 182px); */
        /* min-width: 32%; */
        /* max-width: 15%; */
        z-index: 1000;
        position: initial;
    }
    .boxes .addGrpBox {
        min-width: 92px;
        min-height: 78px;
        background: url(/images/groupselfi.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* align-self: center; */
        position: relative;
        top: 12px;
    }
    .addGrpBox .grouppic {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 22px;
        left: 0;
    }

    .messageContainer {
        top: -30px;
        width: 122%;
        /* padding: 70px; */
        height: 93px;
        padding-bottom: 10px;
        position: relative;
        background: url(/images/megContainer.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .messageContainer .msgpic {
        width: calc(100% - 93px);
        /* width: 100%; */
        height: 78%;
        /* padding-right: 100px; */
        position: absolute;
        background: url(/images/msgBox.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 42px;
        top: 31px;
        line-height: 10px !important;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        text-align: center;
    }

}
@media screen and (min-width : 425px){
    .messageContainer .msgpic {
        width: calc(100% - 125px) !important;
        /* width: 100%; */
        height: 78%;
        /* padding-right: 100px; */
        position: absolute;
        background: url(/images/msgBox.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 58px;
        top: 31px;
        line-height: 10px !important;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        text-align: center;
    }
}
@media screen and (max-width : 375px){
    .speakContainer {
        width: 17%;
        height: 42px;    
        margin-top: 10px;
        position: relative;
        background: url(/images/voice.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        outline: none;
        top: -17px;
    }
    .bodyContainer .l_picContainer {
        /* width: calc(100%); */
        /* height: calc(100% + 182px); */
        min-width: 24%;
        /* max-width: 15%; */
    }
    .l_picContainer .l_pic {
        width: 151%;
        /* height: 89%; */
        position: relative;
        top: -17px;
        left: -11px;
    }
    .addBoxLeft .leftboxpic {
        width: 101%;
        height: 17%;
        top: 75px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 14px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
        color: black;
    }
    .addBoxRight .rightboxpic {
        width: 101%;
        height: 17%;
        top: 75px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 14px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
        color: black;
    }
    
}

@media screen and (min-width : 320px) and (max-width : 375px){
    .boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        align-items: flex-start;
        align-content: center;
        /* margin-top: -50px; */
        min-width: 45%;
        max-height: 33%;
        flex-wrap: nowrap;
        /* background-color: red; */
        position: relative;
        top: -12px;
        left: -31px;
        max-width: 79%;
    }

    .boxes .addBoxLeft {
        min-width: 35%;
        min-height: 94px;
        background: url(/images/lefftboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* left: 10px; */
        /* padding-right: 10px; */
    }
    .boxes .addBoxRight {
        min-width: 35%;
        min-height: 94px;
        background: url(/images/rightboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* left: 10px; */
        /* padding-right: 10px; */
    }
    .addBoxLeft .leftBoxInput {
        width: 32px;
        height: 27px;
        position: relative;
        left: 1px;
        opacity: 0;
        top: 13px;

    }
    .addBoxLeft .leftBoxInput {
        width: 32px;
        height: 27px;
        position: relative;
        left: 6px;
        opacity: 0;
        top: 13px;

    }
    .addBoxRight .righttBoxInput {
        width: 32px;
        height: 27px;
        position: relative;
        left: 1px;
        opacity: 0;
        top: 13px;

    }
    .addBoxLeft .leftboxpic {
        width: 101%;
        height: 16%;
        top: 53px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 8px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
    }
    .addBoxRight .rightboxpic {
        width: 101%;
        height: 16%;
        top: 53px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 8px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
    }
    .l_picContainer .l_pic {
        width: 130%;
        height: 89%;
        position: relative;
        top: -17px;
        left: -11px;
    }
    .boxes .addGrpBox {
        min-width: 84px;
        min-height: 78px;
        background: url(/images/groupselfi.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* align-self: center; */
        position: relative;
        top: 12px;
    }.addGrpBox .grouppic {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 22px;
        left: 0;
    }
    
    .messageContainer {
        top: -24px;
        width: 110%;
        /* padding: 70px; */
        height: 93px;
        padding-bottom: 10px;
        position: relative;
        background: url(/images/megContainer.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .messageContainer .msgpic {
        width: calc(100% - 17px);
        /* width: 100%; */
        height: 68%;
        /* padding-right: 100px; */
        position: absolute;
        background: url(/images/msgBox.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 5px;
        top: 34px;
        line-height: 10px !important;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        text-align: center;
    }
}
@media screen and (min-width : 376px) and (max-width : 424px) {
    .messageContainer .msgpic {
        width: calc(100% - 93px);
        /* width: 100%; */
        height: 78%;
        /* padding-right: 100px; */
        position: absolute;
        background: url(/images/msgBox.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 42px;
        top: 31px;
        line-height: 10px !important;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        text-align: center;
    }
}
@media screen and (max-width : 280px){
    .speakContainer {
        width: 18%;
        height: 34px;
        margin-top: 10px;
        position: relative;
        background: url(/images/voice.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        outline: none;
        top: -17px;
    }
}

@media screen and (max-width : 319px){
    .bodyContainer .l_picContainer {
        /* width: calc(100%); */
        /* height: calc(100% + 182px); */
        min-width: 26%;
        /* max-width: 15%; */
    }
    .l_picContainer .l_pic {
        width: 151%;
        /* height: 89%; */
        position: relative;
        top: -22px;
        left: -11px;
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        position: relative;
        left: -8px;
    }
    .boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        align-items: flex-start;
        align-content: center;
        /* margin-top: -50px; */
        min-width: 45%;
        max-height: 33%;
        flex-wrap: nowrap;
        /* background-color: red; */
        position: relative;
        top: -12px;
        left: -29px;
        max-width: 79%;
    }
    .boxes .addBoxLeft {
        min-width: 37%;
        min-height: 74px;
        background: url(/images/lefftboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .boxes .addBoxRight {
        min-width: 37%;
        min-height: 74px;
        background: url(/images/rightboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .addBoxLeft .leftBoxInput {
        width: 32px;
        height: 27px;
        position: relative;
        left: -2px;
        opacity: 0;
        top: 7px;

    }
    .addBoxRight .righttBoxInput {
        width: 32px;
        height: 27px;
        position: relative;
        left: -2px;
        opacity: 0;
        top: 7px;

    }
    .boxes .addGrpBox {
        min-width: 55px;
        min-height: 49px;
        background: url(/images/groupselfi.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* align-self: center; */
        position: relative;
        top: 12px;
    
        }
        .messageContainer {
            top: -24px;
            width: 89%;
            /* padding: 70px; */
            height: 75px;
            padding-bottom: 10px;
            position: relative;
            background: url(/images/megContainer.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .messageContainer .msgpic {
            width: calc(100% - 8px);
            /* width: 100%; */
            height: 71%;
            /* padding-right: 100px; */
            position: absolute;
            background: url(/images/msgBox.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            left: 4px;
            top: 28px;
            line-height: 10px !important;
            border: none;
            outline: none;
            padding-left: 10px;
            padding-right: 10px;
            color: black;
            text-align: center;
        }
}

@media  screen and (max-width : 236px){
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        position: relative;
        left: -8px;
    }
    .boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
        align-items: flex-start;
        align-content: center;
        /* margin-top: -50px; */
        min-width: 45%;
        max-height: 33%;
        flex-wrap: nowrap;
        /* background-color: red; */
        position: relative;
        top: -12px;
        left: -29px;
        max-width: 79%;
    }
    .boxes .addBoxLeft {
        min-width: 37%;
        min-height: 63px;
        background: url(/images/lefftboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .boxes .addBoxRight {
        min-width: 37%;
        min-height: 63px;
        background: url(/images/rightboxNew2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .addBoxLeft .leftBoxInput {
        width: 32px;
        height: 27px;
        position: relative;
        left: -9px;
        opacity: 0;
        top: 7px;
    }
    .addBoxRight .righttBoxInput {
        width: 32px;
        height: 27px;
        position: relative;
        left: -9px;
        opacity: 0;
        top: 7px;
    }
    .addBoxLeft .leftboxpic {
        width: 101%;
        height: 16%;
        top: 74px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 8px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
    }
    .addBoxRight .rightboxpic {
        width: 101%;
        height: 16%;
        top: 74px;
        position: absolute;
        left: 0;
        background-color: transparent;
        font-size: 8px;
        padding: 0px 3px 0px 3px;
        border: .1px solid greenyellow;
    }
    .boxes .addGrpBox {
        min-width: 51px;
        min-height: 40px;
        background: url(/images/groupselfi.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* align-self: center; */
        position: relative;
        top: 5px;
    }
    .addGrpBox .grouppic {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 22px;
        left: 0;
    }

    .messageContainer {
        top: -30px;
        width: 81%;
        /* padding: 70px; */
        height: 54px;
        padding-bottom: 10px;
        position: relative;
        background: url(/images/megContainer.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .messageContainer .msgpic {
        width: calc(100% - 8px);
        /* width: 100%; */
        height: 61%;
        /* padding-right: 100px; */
        position: absolute;
        background: url(/images/msgBox.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        left: 4px;
        top: 22px;
        line-height: 10px !important;
        border: none;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
        color: black;
        text-align: center;
    }
    .speakContainer {
        width: 16%;
        height: 29px;
        margin-top: 1px;
        position: relative;
        background: url(/images/voice.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        outline: none;
        top: -17px;
    }
}
@media screen and (min-width : 460px ){
    .addBoxLeft .leftBoxInput {
        width: 47px;
        height: 39px;
        position: relative;
        left: 14px;
        opacity: 0;
        top: 18px;
    }
    .addBoxRight .righttBoxInput {
        width: 47px;
        height: 39px;
        position: relative;
        left: 16px;
        opacity: 0;
        top: 18px;
    }
}
@media screen and (min-width : 315px) and (max-width : 320px){
    .speakContainer {
        height: 37px;
        width: 19%;
    }
}
@media screen and (min-width : 465px){
    .speakContainer {
        width: 14%;
        height: 53px;
        margin-top: 10px;
        position: relative;
        background: url(/images/voice.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        outline: none;
        top: -18px;
    }
}
/* iframe {
    position: absolute;
    bottom: 129px;
    left: 4px;
} */